.post-highlight{
    background-color: #a9b8b0;
    border-radius: 12px;

    a {
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
    }
    
    .tag-highlight{
        background-color: #004c18;
        border-radius: 10px;
        color: white;
        padding: 5px 20px;
        margin: 5px;
        display:inline-block;
        text-align: center;
    }

    .button{
        background-color: #26673b;
        color: white;
    }

    span{
        font-size: 120%;
    }

    p{
        margin-left: 25px;
        margin-bottom: 20px;
        font-size: 150%;
    }

    .buttons{
        margin:auto;
    }

    .statistics{
        justify-content: center;
        .icon{
            margin-right: 5px !important;
        }
    }

    i{
        margin: 7px 14px;
    }

    .post-stats{
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .tags-highlight{
        margin-left: 15px;
    }
}