.navbar{

    background: #f7fafc !important;
    
    .item{
        background: #f7fafc !important;
        border-radius: 0px !important;
    }

    .active{
        border-bottom: 2px solid #229c22 !important;
    }
    
    .segment, .menu{
        background: #f7fafc !important;
    }

    .arla-logo{
        width: 55px !important;
        margin-left: 1rem;
        margin-right: 5rem;
    }

}

